

<p-panel header="Login">
  <div class="flex flex-col gap-8">
    <form [formGroup]="form" *ngIf="!isLogged" class="grid max-w-3xl gap-4">
      <div class="grid gap-2 md:grid-cols-[10rem_minmax(0,1fr)] md:items-center">
        <label>Email:</label>
        <input class="w-full" type="text" formControlName="email"/>
      </div>
      <div class="grid gap-2 md:grid-cols-[10rem_minmax(0,1fr)] md:items-center">
        <label>Password:</label>
        <input class="w-full" type="password" formControlName="password"/>
      </div>
      <div>
        <button (click)="login()">Sign in</button>
      </div>
    </form>

    <h4>Doesn't have an account? Create one and become a hero!! (or a Master   ;)   )</h4>

    <form [formGroup]="formCreated" class="grid max-w-3xl gap-4">
      <div class="grid gap-2 md:grid-cols-[10rem_minmax(0,1fr)] md:items-center">
        <label>First Name:</label>
        <input class="w-full" type="text" formControlName="firstName"/>
      </div>
      <div class="grid gap-2 md:grid-cols-[10rem_minmax(0,1fr)] md:items-center">
        <label>Last Name:</label>
        <input class="w-full" type="text" formControlName="lastName"/>
      </div>
      <div class="grid gap-2 md:grid-cols-[10rem_minmax(0,1fr)] md:items-center">
        <label>User Name:</label>
        <input class="w-full" type="text" formControlName="userName"/>
      </div>
      <div class="grid gap-2 md:grid-cols-[10rem_minmax(0,1fr)] md:items-center">
        <label>Email:</label>
        <input class="w-full" type="text" formControlName="email"/>
      </div>
      <div class="grid gap-2 md:grid-cols-[10rem_minmax(0,1fr)] md:items-center">
        <label>Password:</label>
        <input class="w-full" type="password" formControlName="password"/>
      </div>
      <div>
        <button (click)="add()">Create</button>
      </div>
    </form>
  </div>
</p-panel>



