<ng-container *ngIf="loaded">
  <form [formGroup]="form">
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title"  formControlName="armorDefenseTitle" disabled>
      <span class="p-inputgroup-addon">
              <p-dropdown class=" field-value"
                formControlName="armorDefenseId"
                [options]="defenses"
                optionLabel="label"
                optionValue="value"/>
      </span>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title"  formControlName="lightWeaponHitAttributeTitle" disabled>
      <span class="p-inputgroup-addon">
              <p-dropdown class=" field-value"
                formControlName="lightWeaponHitPropertyId"
                [options]="attributes"
                optionLabel="label"
                optionValue="value"/>
      </span>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title"  formControlName="mediumWeaponHitAttributeTitle" disabled>
      <span class="p-inputgroup-addon">
              <p-dropdown class=" field-value"
                formControlName="mediumWeaponHitPropertyId"
                [options]="attributes"
                optionLabel="label"
                optionValue="value"/>
      </span>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title"  formControlName="heavyWeaponHitAttributeTitle" disabled>
      <span class="p-inputgroup-addon">
              <p-dropdown class=" field-value"
                formControlName="heavyWeaponHitPropertyId"
                [options]="attributes"
                optionLabel="label"
                optionValue="value"/>
      </span>
    </div><div class="p-inputgroup">
      <input type="text" pInputText class="field-title"  formControlName="lightWeaponDamageAttributeTitle" disabled>
      <span class="p-inputgroup-addon">
              <p-dropdown class=" field-value"
                formControlName="lightWeaponDamagePropertyId"
                [options]="attributes"
                optionLabel="label"
                optionValue="value"/>
      </span>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title"  formControlName="mediumWeaponDamageAttributeTitle" disabled>
      <span class="p-inputgroup-addon">
              <p-dropdown class=" field-value"
                formControlName="mediumWeaponDamagePropertyId"
                [options]="attributes"
                optionLabel="label"
                optionValue="value"/>
      </span>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title"  formControlName="heavyWeaponDamageAttributeTitle" disabled>
      <span class="p-inputgroup-addon">
              <p-dropdown class=" field-value"
                formControlName="heavyWeaponDamagePropertyId"
                [options]="attributes"
                optionLabel="label"
                optionValue="value"/>
      </span>
    </div>
  </form>
</ng-container>
