<p-panel [header]="shopName">
    <div class="p-formgroup-inline">
      <div class="p-field-checkbox">
        <p-checkbox name="armors" [binary]="true" [(ngModel)]="filterArmors" inputId="armors" (onChange)="updateFilter()"></p-checkbox>
        <label for="armors">Armors</label>
      </div>
      <div class="p-field-checkbox">
        <p-checkbox name="weapons" [binary]="true" [(ngModel)]="filterWeapons" inputId="weapons" (onChange)="updateFilter()"></p-checkbox>
        <label for="weapons">Weapons</label>
      </div>
  </div>
  <div>
    <div *ngIf="filterArmors" class="p-grid">
      <div class="p-col">Armor: </div>
      <p-radioButton name="filterArmor" class="p-col" [(ngModel)]="armorCategoryFilter" [value]="armorCategory.Light" label="Light" (onClick)="updateFilter()"></p-radioButton>
      <p-radioButton name="filterArmor" class="p-col" [(ngModel)]="armorCategoryFilter" [value]="armorCategory.Medium" label="Medium"  (onClick)="updateFilter()"></p-radioButton>
      <p-radioButton name="filterArmor" class="p-col" [(ngModel)]="armorCategoryFilter" [value]="armorCategory.Heavy" label="Heavy" (onClick)="updateFilter()"></p-radioButton>
      <p-radioButton name="filterArmor" class="p-col" [(ngModel)]="armorCategoryFilter" [value]="null" label="All" (onClick)="updateFilter()"></p-radioButton>
    </div>
    <div *ngIf="filterWeapons" class="p-grid">
      <div class="p-col">Weapon: </div>
      <p-radioButton name="filterWeapon" class="p-col" [(ngModel)]="weaponCategoryFilter" [value]="weaponCategory.Light" label="Light" (onClick)="updateFilter()"></p-radioButton>
      <p-radioButton name="filterWeapon" class="p-col" [(ngModel)]="weaponCategoryFilter" [value]="weaponCategory.Medium" label="Medium"  (onClick)="updateFilter()"></p-radioButton>
      <p-radioButton name="filterWeapon" class="p-col" [(ngModel)]="weaponCategoryFilter" [value]="weaponCategory.Heavy" label="Heavy" (onClick)="updateFilter()"></p-radioButton>
      <p-radioButton name="filterWeapon" class="p-col" [(ngModel)]="weaponCategoryFilter" [value]="null" label="All" (onClick)="updateFilter()"></p-radioButton>
    </div>
  </div>
    <p-pickList [showSourceControls]="false" [showTargetControls]="false" [source]="itemsShow" [target]="itemToBuyShow"  [responsive]="true"
                dragdrop="true" sourceHeader="Items" targetHeader="Buying" (onMoveToTarget)="itemAddedToBuy($event)" (onMoveToSource)="itemRemovedFromToBuy($event)">
      <ng-template let-item pTemplate="item">
        <div class="ui-helper-clearfix">
          <ng-container *ngIf="item.quantityToBuy > 0">
            <div class="p-grid p-nogutter p-justify-between">
              <div class="p-col-10">{{item.name}}</div>
              <div class="p-grid p-nogutter p-justify-between p-col-2">
                <div>{{item.quantityToBuy}}</div>
                <div>${{item.value * item.quantityToBuy}}</div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="item.quantityToBuy <= 0">
            <div class="p-grid p-nogutter p-justify-between">
              <div class="p-col-10">{{item.name}}</div>
              <div class="p-grid p-nogutter p-justify-between p-col-2">
                <div>{{item.quantity}}</div>
                <div>${{item.value}}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </p-pickList>
    <p-panel>
      <p-header>
        <div class="p-grid p-nogutter p-justify-between">
          <div style="font-weight: bold">Available Gold: {{hero.inventory.cash1}}</div>
          <div style="font-weight: bold">Total Cost: {{totalCost}}</div>
        </div>
      </p-header>
      <div class="p-grid p-nogutter p-justify-end">
        <button pButton (click)="buy()" label="Buy"></button>
        <button pButton (click)="reset()" label="Reset" class="ui-button-secondary"></button>
      </div>
    </p-panel>
</p-panel>

