<p-tieredMenu #actionMenu [model]="creatureActions" [popup]="true"></p-tieredMenu >


<div fxLayout="row wrap" *ngIf="hasLoaded">
  <p-toolbar fxFlex="100"><button *ngIf="isMaster" pButton (click)="saveCombat()" label="Save"></button><button *ngIf="isMaster" pButton (click)="deleteCombat()" label="Delete"></button></p-toolbar>
  <input fxFlex="100" pInputText [(ngModel)]="combat.name" placeholder="name">
  <div fxFlex="100" fxFlex.gt-sm="50" style="padding: 8px" fxLayout="column">
    <p-panel header="Heroes">
      <ng-template pTemplate="icons">
        <button *ngIf="isMaster" pButton type="button" icon="pi pi-plus" class="p-button-primary p-col" (click)="addHeroPlace()"></button>
      </ng-template>
      <div *ngFor="let hero of heroes; let i = index" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="2">
        <div fxLayout="row" fxLayoutGap="12px">
        <rr-hero-select [hero]="hero" (heroSelected)="heroSelected($event, i)" [combat]="combat"></rr-hero-select>
        <button pButton (click)="setSelectedCreature(hero, creatureType.Hero, actionMenu, $event)" icon="fas fa-list"></button>
        <button *ngIf="isCurrentOnInitiative(hero.id)" pButton (click)="endTurn()" class="p-button-secondary" icon="fas fa-hourglass-end"></button>
      </div>
      </div>
    </p-panel>

  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" style="padding: 8px">
    <p-panel header="Enemies">
      <ng-template pTemplate="icons">
        <button pButton (click)="addMonsterPlace()" type="button" icon="pi pi-plus" class="p-button-primary p-col" ></button>
      </ng-template>
      <div *ngFor="let monster of monsters; let i = index" fxLayout="row" fxLayoutAlign="space-between start" style="padding-bottom: 2px;">
        <div fxLayout="row" fxLayoutGap="12px">
          <rr-monster-select [monster]="monster" (monsterSelected)="monsterSelected($event, i)" [combat]="combat"></rr-monster-select>
          <button pButton (click)="setSelectedCreature(monster, creatureType.Monster, actionMenu, $event)" icon="fas fa-list"></button>
          <button *ngIf="isCurrentOnInitiative(monster.id)" pButton (click)="endTurn()" class="p-button-secondary" icon="fas fa-hourglass-end"></button>
        </div>
      </div>
    </p-panel>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" style="padding: 8px">
    <rr-attack-details [attackDetails]="attackDetails"></rr-attack-details>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" style="padding: 8px">
    <rr-initiative ></rr-initiative>
  </div>
  <div fxFlex="0" fxFlex.gt-sm="50" style="padding: 8px">
  </div>
  <div fxFlex="100" fxFlex.gt-sm="50" style="padding: 8px">
    <rr-combat-log [combatLogs]="combat.combatLog"></rr-combat-log>
  </div>
</div>

<p-sidebar [(visible)]="actionModalOpened" position="right" [modal]="false" styleClass="p-sidebar-md">
  <rr-combat-action-modal
    (attackAction)="heroFullAttack($event)"
    [combatData]="combatActionData"></rr-combat-action-modal>
</p-sidebar>

