<loh-editor-modal>
    <h2 motal-title>{{entity ? entity.name : "New Hero"}}</h2>
  <div modal-header>

  </div>
  <form [formGroup]="form" modal-content *ngIf="!isLoading">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="name" formControlName="name">
      </mat-form-field>
      <div fxFlex="25" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="85">
          <input matInput placeholder="Level" formControlName="level">
        </mat-form-field>
        <button mat-icon-button fxFlex="15" [disabled]="levelUpDisabled" (click)="levelUp()"><mat-icon>add</mat-icon></button>
      </div>
      <mat-form-field fxFlex="12.5" (click)="form.get('experience').setValue(form.get('experience').value + 500)">
        <input matInput placeholder="Experience" formControlName="experience">
      </mat-form-field>
      <mat-form-field fxFlex="12.5">
        <input matInput placeholder="Next Level" formControlName="nextLevel">
      </mat-form-field>
        <loh-rr-select-field [service]="raceService" (entitySelected)="selectRace($event)"></loh-rr-select-field>
      <loh-rr-select-field [service]="roleService" (entitySelected)="selectRole($event)"></loh-rr-select-field>
      <mat-form-field fxFlex="33">
        <input readonly matInput placeholder="Life" [value]="form.get('maxLife').value">
      </mat-form-field>
    </div>
    <div>
      <div fxLayout="row" fxLayoutGap="10px">
        <h2>Attributes</h2>
        <h2>{{totalInitialAttributePoints}}</h2>
        <h2>{{sumAttributesBasePoints}}</h2>
        <h2>{{totalAttributesBonusPoints}}</h2>
        <h2>{{sumAttributesBonusPoints}}</h2>
      </div>
      <div>
        <!-- <div *ngFor="let attr of attributes" fxFlex="100" fxFlex.gt-sm="50" fxLayout="row">
          <mat-form-field fxFlex="auto">
            <input matInput [placeholder]="attr" [value]="getTotalAttributeValue(attr)" readonly>
          </mat-form-field>
          <button mat-icon-button (click)="addAttributeBonusPoints(attr)" [disabled]="attributeAddButtonShouldBeDisabled(attr)"><mat-icon>add</mat-icon></button>
          <button mat-icon-button (click)="removeAttributeBonusPoints(attr)" [disabled]="attributeRemoveButtonShouldBeDisabled(attr)"><mat-icon>remove</mat-icon></button>
        </div> -->
        <p-accordion fxLayout="row wrap" fxLayoutAlign="space-between center" [multiple]=true fxFlex="100">
          <p-accordionTab *ngFor="let attr of attributes" [selected]="false" fxFlex="100" [fxFlex.gt-sm]="100/3">
            <p-header>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>{{attr}}</span>
                <span>{{getTotalAttributeValue(attr)}}</span>
                <button pButton icon="pi pi-plus" type="button" appClickStopPropagation (click)="addAttributeBonusPoints(attr)" [disabled]="attributeAddButtonShouldBeDisabled(attr)" class="ui-button-raised ui-button-success"></button>
                <button pButton icon="pi pi-minus" type="button" appClickStopPropagation (click)="removeAttributeBonusPoints(attr)" [disabled]="attributeRemoveButtonShouldBeDisabled(attr)" class="ui-button-raised ui-button-danger"></button>
              </div>
            </p-header>
            <div fxLayout="row wrap">
              <div formGroupName="baseAttributes" fxFlex="100">
                <div class="ui-inputgroup">
                  <span class="ui-inputgroup-addon">base</span>
                  <input readonly [formControlName]="attr" fxFlex="100">
                </div>
              </div>
              <div formGroupName="attributes" fxFlex="100">
                <div class="ui-inputgroup" fxFlex="100">
                  <span class="ui-inputgroup-addon">points</span>
                  <input readonly formControlName="{{attr + 'BonusPoints'}}" fxFlex="100">
                </div>
              </div>
              <div class="ui-inputgroup" fxFlex="100" >
                <span class="ui-inputgroup-addon">race</span>
                <input readonly [value]="getRaceAttrBalue(attr)" fxFlex="100">
              </div>
              <div class="ui-inputgroup" fxFlex="100" >
                <span class="ui-inputgroup-addon">role</span>
                <input readonly [value]="getRoleAttrBalue(attr)" fxFlex="100">
              </div>
            </div>
            </p-accordionTab>
        </p-accordion>
      </div>
      <div>
        <h2>Skills</h2>
      </div>
      <div formGroupName="skills" fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div *ngFor="let sk of skills" fxFlex="100" fxFlex.gt-sm="50" fxLayout="row">
          <mat-form-field fxFlex="auto">
            <input matInput [placeholder]="sk" [value]="getTotalSkillValue(sk)" readonly>
          </mat-form-field>
          <button mat-icon-button (click)="addSkillBonusPoints(sk)" [disabled]="skillAddButtonShouldBeDisabled(sk)"><mat-icon>add</mat-icon></button>
          <button mat-icon-button (click)="removeSkillBonusPoints(sk)" [disabled]="skillRemoveButtonShouldBeDisabled(sk)"><mat-icon>remove</mat-icon></button>
        </div>
      </div>
    </div>
  </form>
  <div modal-footer>
    <button mat-button (click)="save()">save</button>
    <button mat-button (click)="delete()">delete</button>
  </div>
</loh-editor-modal>
