<div [hidden]="isLoading" class="mat-elevation-z8 heroes-background">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px">
    <mat-form-field>
      <input matInput type="text" placeholder="Filter" [(ngModel)]="filter" (keydown.enter)="updateFilter()">
    </mat-form-field>
    <mat-icon (click)="addNewHero()" matTooltip="Create New hero">add</mat-icon>
  </div>
  <div fxLayout="row wrap" *ngIf="displayData.length > 0">
    <mat-card *ngFor="let hero of displayData" class="listCard clickable hero-card" (click)="updateHero(hero)">
      <mat-card-title fxLayoutAlign="space-between center" fxLayoutGap="12px" fxLayout="row">
        <div>{{hero.name}}</div>
        <div>Lv: {{hero.level}}</div>
      </mat-card-title>
      <mat-card-subtitle fxLayout="column">
        <div>Race: {{hero.race.name}}</div>
        <div>Role: {{hero.role.name}}</div>
      </mat-card-subtitle>
      <mat-card-content>
       <!-- Role: {{monster.role.name}} -->
      </mat-card-content>
    </mat-card>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                 [length]="0"
                 [pageSize]="10" showFirstLastButtons (page)="updateDisplayData()"></mat-paginator>
</div>
