<div class="p-inputgroup">
  <button pButton icon="pi pi-minus" *ngIf="isMaster" class="p-inputgroup-addon" (click)="removeCreature(creature)"></button>
  <button pButton class="p-inputgroup-addon p-button-secondary" (click)='editCreature(creature)'>
    {{creature.name}}
  </button>
  <ng-container *ngFor="let life of creature.lifes">
    <span *ngIf="isMaster || isOwner(creature) || true" class="p-inputgroup-addon">
      {{life.name}} | {{life.value}}
  </span>
</ng-container>
<button *ngIf="isMaster || isOwner(creature)" pButton icon="fas fa-dice-d20" class="p-inputgroup-addon" pTooltip="Roll dice"
 (click)="selectCreatureForRoll(creature); rollPanel.toggle($event)"></button>
<button *ngIf="isMaster || isOwner(creature)" pButton icon="fas fa-tint" class="p-inputgroup-addon" pTooltip="Damage/Heal"
 (click)="takeDamage(creature)"></button>
  <button *ngIf="isMaster || isOwner(creature)" pButton icon="fas fa-user-slash" class="p-inputgroup-addon" pTooltip="Attack"
 (click)="attack(creature)"></button>
  <button *ngIf="isMaster" pButton icon="fas fa-calculator" class="p-inputgroup-addon" pTooltip="Simulate CD"
 (click)="selectCreatureForSimulateCd(creature); simulateCdPanel.toggle($event)"></button>
</div>


<p-overlayPanel #rollPanel>
  <ng-template pTemplate>
    <p-tieredMenu [model]="rollOptions"></p-tieredMenu>
  </ng-template>
</p-overlayPanel>

<p-overlayPanel #simulateCdPanel>
  <ng-template pTemplate>
    <p-tieredMenu [model]="simluateCdOptions"></p-tieredMenu>
  </ng-template>
</p-overlayPanel>

<p-sidebar [(visible)]="displayRollSidebar" position="right" [modal]="false">
  <rr-roll-dice [rollInputEmitter]="rollInputEmitter" [rollResultEmitter]="rollResultEmitter" [campaign]="campaign" [scene]="scene"></rr-roll-dice>
</p-sidebar>

<p-sidebar [(visible)]="displaySimulateCdSidebar" position="right" [modal]="false" [style]="{width:'40em'}">
  <rr-simulate-cd [simulateInputEmitter]="simulateCdInputEmitter" [simulateResultEmitter]="simulateCdResultEmitter" [campaign]="campaign" [scene]="scene"></rr-simulate-cd>
</p-sidebar>
<p-sidebar [(visible)]="displayAttackSidebar" position="right" [modal]="false" [style]="{width:'40em'}">
  <rr-make-attack [attackInput]="attackInput" [showMe]="displayAttackSidebar" [campaign]="campaign" [scene]="scene"></rr-make-attack>
</p-sidebar>

<p-sidebar [(visible)]="displayTakeDamageSidebar" position="right" [modal]="false">
  <rr-pocket-take-damage [inputEmitter]="takeDamageInputEmitter" [campaign]="campaign" [scene]="scene"></rr-pocket-take-damage>
</p-sidebar>
