

<p-panel header="Login">
  <div class="p-grid p-nogutter">
    <form [formGroup]="form">
      <div class="p-grid  p-nogutter" *ngIf="!isLogged" >
      <label class="p-col-2 "> Email:</label><input class="p-col-4 p-offset-1" type="text" formControlName="email"/><div class="p-col-5"></div>
      <label class="p-col-2 "> Password:</label><input class="p-col-4 p-offset-1" type="password" formControlName="password"/><div class="p-col-5"></div>
      <div><button (click)="login()">Sign in</button></div>
      </div>
    </form>
    <h4 class="p-col-12">Doesn't have an account? Create one and become a hero!! (or a Master   ;)   )</h4>
    <form [formGroup]="formCreated" class="p-col-12">
      <div class="p-grid p-nogutter">
        <label class="p-col-2 "> First Name:</label><input class="p-col-4 p-offset-1" type="text" formControlName="firstName"/><div class="p-col-5"></div>
        <label class="p-col-2"> Last Name:</label><input class="p-col-4 p-offset-1" type="text" formControlName="lastName"/><div class="p-col-5"></div>
        <label class="p-col-2"> User Name:</label><input class="p-col-4 p-offset-1" type="text" formControlName="userName"/><div class="p-col-5"></div>
        <label class="p-col-2"> Email:</label><input class="p-col-4 p-offset-1" type="text" formControlName="email"/><div class="p-col-5"></div>
        <label class="p-col-2"> Password:</label><input class="p-col-4 p-offset-1" type="password" formControlName="password"/><div class="p-col-5"></div>
        <div><button (click)="add()">Create</button></div>
      </div>
    </form>
  </div>
</p-panel>
<p-messages></p-messages>



