<p-tabs [(value)]="activeTab">
  <p-tablist>
    <p-tab value="0">Creature Template</p-tab>
    <p-tab value="1">Itens</p-tab>
    <p-tab value="2">Item Configuration</p-tab>
  </p-tablist>

  <p-tabpanels>
    <p-tabpanel value="0">
      <ng-container *ngIf="activeTab === '0'">
        <rr-campaign-template></rr-campaign-template>
      </ng-container>
    </p-tabpanel>
    <p-tabpanel value="1">
      <ng-container *ngIf="activeTab === '1'">
        <rr-campaign-itens></rr-campaign-itens>
      </ng-container>
    </p-tabpanel>
    <p-tabpanel value="2">
      <ng-container *ngIf="activeTab === '2'">
        <rr-campaign-item-configuration></rr-campaign-item-configuration>
      </ng-container>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
