<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Creature Template</p-tab>
    <p-tab value="1">Itens</p-tab>
    <p-tab value="2">Item Configuration</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <rr-campaign-template></rr-campaign-template>
    </p-tabpanel>
    <p-tabpanel value="1">
      <rr-campaign-itens></rr-campaign-itens>
    </p-tabpanel>
    <p-tabpanel value="2">
      <rr-campaign-item-configuration></rr-campaign-item-configuration>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
