<div class="flex flex-row justify-between main-color-5 main-header-text">
  <div class="flex items-center">
    <h1 routerLink='' class="text-3xl ml-2 font-base">
      {{title | titlecase}}       <i class="fas fa-dice-d20"></i>
    </h1>
  </div>
  <div class="flex flex-col items-end justify-end pr-2">
    <ng-container *ngIf="hasUser">
      <label class="main-header-text text-xl text-right">{{userName}}</label>
      <label class="cursor-pointer text-right" (click)="logout()">logout</label>
    </ng-container>
    <button *ngIf="false" pButton pButtonIcon="pi pi-sun" severity="info" (click)="toggleDarkMode()"></button>
    <ng-container *ngIf="!hasUser">
      <label routerLink='login' style="cursor: pointer">login</label>
    </ng-container>
  </div>
</div>
