<div class="flex flex-row justify-between main-color-5 main-header-text">
  <div class="flex items-center">
    <h1 routerLink='home' class="text-3xl ml-2 font-base">
      {{title | titlecase}}       <i class="fas fa-dice-d20"></i>
    </h1>
  </div>
  <div  class="grid nogutter align-end justify-end" style="padding-right: 8px">
    <ng-container *ngIf="hasUser">
      <label class="main-header-text text-xl col-12" style="text-align: end">{{userName}}</label>
      <label class="col-12" style="text-align: end; cursor: pointer;"  (click)="logout()">logout</label>
    </ng-container>
    <button pButton pButtonIcon="pi pi-pallet" severity="info" (click)="toggleDarkMode()"></button>
    <ng-container *ngIf="!hasUser">
      <label routerLink='login' style="cursor: pointer">login</label>
    </ng-container>
  </div>
</div>
