<div class="flex flex-col h-full">
  <div class="flex-grow overflow-auto">
  <form [formGroup]="form" *ngIf="loaded()" >
    <p-fieldset legend="Creature Type">
      <p-iftalabel>
        <input id="name" class="col-span-1" type="text" pInputText formControlName="name" required="true">
        <label for="name">Name</label>
      </p-iftalabel>
    </p-fieldset>

  </form>
  <rr-grid [headerActions]="headerActions" [columns]="columns" [actions]="creatureActions"
           [refresh]="refreshGrid"
           [getListCallback]="getList"
           title="Enemies"
           class="overflow-auto"></rr-grid>
  </div>

  <button pButton severity="primary" class="w-full p-2 mt-4"
          [disabled]="form.invalid || !form.dirty"
  (click)="save()">Save</button>
</div>
