<mat-card fxFlex="100">
  <mat-card-header>
    <mat-card-title (click)="selectBonuses()">Race</mat-card-title>
    <mat-card-subtitle>Edit Your Race</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">

        <mat-form-field fxFlex="100" class="pr-12">
          <input matInput placeholder="Race" formControlName="name">
        </mat-form-field>
        <h4 fxFlex="90">Bonuses</h4>
        <mat-icon fxFlex="10" class="clickable" (click)="addBonuses()" matTooltip="add bonuses">add</mat-icon>
        <div fxFlex="100" fxLayout="row wrap" *ngFor="let bonus of myBonuses.controls; let i = index" formArrayName="bonuses">
          <div [formGroupName]="i" fxFlex="100">
            <mat-form-field fxFlex="10" class="pr-12">
              <input matInput placeholder="Property" formControlName="property" readonly>
            </mat-form-field>
            <mat-form-field fxFlex="100" class="pr-12">
              <input matInput placeholder="level" formControlName="level">
            </mat-form-field>
            <mat-form-field fxFlex="100" class="pr-12">
              <input matInput placeholder="bonus" formControlName="bonus">
            </mat-form-field>
            <mat-icon mat-font-icon="fa-icon" class="fa" class="clickable" (click)="removeBonus(i)" matTooltip="add bonus" matTooltip="remove bonus">clear</mat-icon>
          </div>
        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">
          <mat-icon class="clickable" (click)="addPower()" matTooltip="add power">add</mat-icon>
        </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <mat-card *ngFor="let power of powers.controls; let i = index" formArrayName="powers">
          <mat-card-title>
           {{power.value.name}} <mat-icon class="clickable" (click)="removePower(i)">clear</mat-icon>
          </mat-card-title>
        </mat-card>
      </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">

        </div>
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="end center">

        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="save()">Save</button>
    <button mat-button (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>
