<div fxLayout="column">
  <span>Initiative</span>
  <div *ngFor="let initiative of initiatives" fxLayout="row" [class]="isCurrentCreatureTurn(initiative.creature.id) ? 'initiative-background-color' : 'initiative-row'">
    <i *ngIf="isCurrentCreatureTurn(initiative.creature.id)" class="pi pi-caret-right" fxFlex="initial"></i>
    <i *ngIf="!isCurrentCreatureTurn(initiative.creature.id)" class="pi pi-caret-right hide-caret" fxFlex="initial"></i>
    <div fxFlex="initial">
      {{initiative.value}}:
    </div>
    <div fxFlex="auto">
      {{initiative.creature.name}}
    </div>
  </div>
</div>
