<p-panel>
  <div class="flex flex-wrap gap-3">
    <div class="flex items-center" *ngFor="let itemTypeOption of itemTypesOptions">
      <p-radioButton
        name="itemInstantiatorType"
        [inputId]="'item-instantiator-type-' + itemTypeOption.name"
        [value]="itemTypeOption.value"
        [ngModel]="itemType()"
        (ngModelChange)="onItemTypeChange($event)"
      />
      <label [for]="'item-instantiator-type-' + itemTypeOption.name" class="ml-2">{{ itemTypeOption.name }}</label>
    </div>
  </div>
  <p-table #tt [value]="data" [paginator]="true"
           [tableStyle]="{ 'min-width': '100rem'}" selectionMode="single" [rows]="15"
           [lazyLoadOnInit]="false" [lazy]="true"
           (onLazyLoad)="onLazyLoadEvent($event)"
           (onRowSelect)="rowSelected($event)" [totalRecords]="totalCount"
           [loading]="loading" class="p-datatable-sm"
  >
    <ng-template #caption >
      <div class="flex flex-wrap justify-between gap-4">
        <div class="w-full md:w-1/2">
          <div class="p-inputgroup">
            <p-inputgroup-addon><i class="fa fa-search"></i></p-inputgroup-addon>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target, 'contains')" style="width:auto">
          </div>
        </div>
        <div class="flex w-full items-center justify-end md:w-auto">
          <div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #header>
      <!--      <th *ngFor="let column of columns">
              <input  pInputText type="text" (input)="tt.filter($event.target.value, column.property, 'contains')">
            </th>-->
      <tr>
        <th *ngFor="let column of columns" [pSortableColumn]="column.property">{{column.header}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-entity>
      <tr [pSelectableRow]="entity">
        <td *ngFor="let column of columns">{{resolve(column, entity)}}</td>
      </tr>
    </ng-template>
    <ng-template #paginatorleft let-state>
      {{state.first}}
    </ng-template>
    <ng-template #paginatorright>
      <span>Records: {{totalCount}}</span>
    </ng-template>
  </p-table>
</p-panel>

