<p-panel>
  <div class="flex flex-wrap gap-3">
    <div class="flex align-items-center" *ngFor="let itemTypeOption of itemTypesOptions">
      <p-radioButton
        [name]="itemTypeOption.name"
        [value]="itemTypeOption.value"
        [ngModel]="itemType()"
        (ngModelChange)="itemType.set($event)"
      />
    </div>
  </div>
  <p-table #tt [value]="data" [paginator]="true"
           [tableStyle]="{ 'min-width': '100rem'}" selectionMode="single" [rows]="15"
           [lazyLoadOnInit]="true" [lazy]="true"
           (onLazyLoad)="onLazyLoadEvent($event)"
           (onRowSelect)="rowSelected($event)" [totalRecords]="totalCount"
           [loading]="loading" styleClass="p-datatable-sm"
  >
    <ng-template #caption >
      <div class="p-grid p-nogutter p-justify-between">
        <div class="p-col-6">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="fa fa-search"></i></span>
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target, 'contains')" style="width:auto">
          </div>
        </div>
        <div class="p-grid p-justify-end p-align-center p-nogutter">
          <div class="p-col">
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <!--      <th *ngFor="let column of columns">
              <input  pInputText type="text" (input)="tt.filter($event.target.value, column.property, 'contains')">
            </th>-->
      <tr>
        <th *ngFor="let column of columns" [pSortableColumn]="column.property">{{column.header}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
      <tr [pSelectableRow]="entity">
        <td *ngFor="let column of columns">{{resolve(column, entity)}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      {{state.first}}
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <span>Records: {{totalCount}}</span>
    </ng-template>
  </p-table>
</p-panel>

