<form form [formGroup]="form" *ngIf="!isLoading">
  <p-fieldset class="col-span-6" legend="Campaign">
    <input class="w-1/2" type="text" pInputText placeholder="Name" formControlName="name" (blur)="save()" required>
    <div class="w-1/2" formGroupName="campaignTemplate">
      <input type="text" pInputText placeholder="Name" formControlName="name">
    </div>
  </p-fieldset>

  <!-- Attributes Panel -->
  <p-panel [toggleable]="true">
    <ng-template #header class="p-grid p-justify-between p-align-center p-nogutter" style="flex: 1;">
      <span class="p-panel-title col-6">Attributes</span>
      <div class="col-6 p-grid p-justify-end p-align-end p-nogutter" form [formGroup]="attributeForm" *ngIf="!isLoading">
        <ng-container *ngIf="!disabled">
          <p-fieldset class="col-6">
            <input type="text" pInputText placeholder="Attribute Name" formControlName="name" required (keydown.enter)="addAttribute()">
          </p-fieldset>
          <button pButton type="button" icon="pi pi-plus" class="p-button-primary col-6" (click)="addAttribute()" [disabled]="disabled"></button>
        </ng-container>
      </div>
    </ng-template>
    <div formGroupName="campaignTemplate">
      <div formArrayName="attributes">
        <div *ngFor="let attribute of attributes.controls; let i=index">
          <div [formGroup]="attribute">
            <div class="p-inputgroup">
              <input type="text" pInputText placeholder="Name" formControlName="name" required (blur)="updateAttribute(attribute)">
              <p-inputgroup-addon *ngIf="!disabled">
                <button (click)="removeAttribute(attribute, i)" pButton type="button" icon="pi pi-minus"></button>
              </p-inputgroup-addon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-panel>

  <!-- Skills Panel (flat) -->
  <p-panel [toggleable]="true">
    <ng-template #header class="p-grid p-justify-between p-align-center p-nogutter" style="flex: 1;">
      <span class="p-panel-title col">Skills</span>
    </ng-template>
    <div formGroupName="campaignTemplate">
      <div class="p-grid p-justify-between p-align-center p-nogutter" form [formGroup]="skillForm" *ngIf="!isLoading">
      <div class="col-6 p-inputgroup">
        <input type="text" pInputText placeholder="Add skill" formControlName="name" required (keydown.enter)="addSkillFromHeader()">
        <p-inputgroup-addon>
          <button pButton type="button" icon="pi pi-plus" (click)="addSkillFromHeader()"></button>
        </p-inputgroup-addon>
      </div>
      </div>
      <div formArrayName="skills">
        <div *ngFor="let skill of skills.controls; let skillIndex=index">
          <div form [formGroup]="skill">
            <p-panel [toggleable]="true" [collapsed]="true" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
              <ng-template #header>
                <div class="p-inputgroup">
                  <input type="text" pInputText placeholder="Name" formControlName="name" required (blur)="updateSkillFlat(skill)">
                  <p-inputgroup-addon *ngIf="!disabled">
                    <button (click)="removeSkillFlat(skill, skillIndex)" pButton type="button" icon="pi pi-minus"></button>
                  </p-inputgroup-addon>
                </div>
                <div form class="col-6" [formGroup]="specificSkillForm">
                  <div *ngIf="!disabled" class="p-inputgroup">
                    <input type="text" pInputText placeholder="add minor skill" formControlName="name" required (keydown.enter)="addSpecificSkill(skill)">
                    <p-inputgroup-addon>
                      <button (click)="addSpecificSkill(skill)" pButton type="button" icon="pi pi-plus"></button>
                    </p-inputgroup-addon>
                  </div>
                </div>
              </ng-template>
              <div class="p-grid p-justify-between p-align-start p-nogutter">
                <div class="col-12" form [formGroup]="skill">
                  <div *ngFor="let specificSkill of minorsSkillBySkill.get(skill.get('id').value).controls; let specificSkillIndex=index">
                    <div [formGroup]="specificSkill" class="grid grid-cols-2 gap-4 justify-start">
                      <rr-property-by-id-selector class="flex-auto" placeholder="Attribute" formControlName="attributeTemplateId" [campaign]="campaign" [propertyType]="[PropertyType.Attribute]"></rr-property-by-id-selector>
                      <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="Name" formControlName="name" required (blur)="updateSpecificSkill(skill, specificSkill)">
                        <p-inputgroup-addon *ngIf="!disabled">
                          <button (click)="removeSpecificSkill(skill, specificSkill, specificSkillIndex)" pButton type="button" icon="pi pi-minus"></button>
                        </p-inputgroup-addon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-panel>
          </div>
        </div>
      </div>
    </div>
  </p-panel>

  <!-- Defenses Panel -->
  <p-panel [toggleable]="true">
    <ng-template #header class="p-grid p-justify-between p-align-center p-nogutter" style="flex: 1;">
      <span class="p-panel-title col-6">Defenses</span>
      <div class="col-6 p-grid p-justify-end p-align-end p-nogutter" form [formGroup]="defenseForm" *ngIf="!isLoading">
        <ng-container *ngIf="!disabled">
          <p-fieldset class="col-6">
            <input type="text" pInputText placeholder="Add Defense" formControlName="name" required (keydown.enter)="addDefense()">
          </p-fieldset>
          <button [disabled]="disabled" pButton type="button" icon="pi pi-plus" class="p-button-primary col-6" (click)="addDefense()"></button>
        </ng-container>
      </div>
    </ng-template>
    <div formGroupName="campaignTemplate">
      <div formArrayName="defenses">
        <div *ngFor="let defense of defenses.controls; let i=index" class="pb-3">
          <div [formGroup]="defense">
            <div class="p-inputgroup">
              <input type="text" pInputText placeholder="Name" formControlName="name" required (blur)="updateDefense(defense)">
              <p-inputgroup-addon *ngIf="!disabled">
                <button (click)="removeDefense(defense, i)" pButton type="button" icon="pi pi-minus"></button>
              </p-inputgroup-addon>
            </div>
            <rr-formula-builder
              class="block"
              [ngModel]="defense.get('formulaTokens')?.value"
              (ngModelChange)="onDefenseFormulaTokensChanged(defense, $event)"
              [ngModelOptions]="{standalone: true}"
              [campaign]="campaign"
              [disabled]="disabled"
              (expressionChange)="onDefenseFormulaExpressionChanged(defense, $event)">
            </rr-formula-builder>
          </div>
        </div>
      </div>
    </div>
  </p-panel>

  <!-- Vitalities Panel -->
  <p-panel [toggleable]="true">
    <ng-template #header class="p-grid p-justify-between p-align-center p-nogutter" style="flex: 1;">
      <span class="p-panel-title col-6">Vitalities</span>
      <div class="col-6 p-grid p-justify-end p-align-end p-nogutter" form [formGroup]="vitalityForm" *ngIf="!isLoading">
        <ng-container *ngIf="!disabled">
          <p-fieldset class="col-6">
            <input type="text" pInputText placeholder="Add Vitality" formControlName="name" required (keydown.enter)="addVitality()">
          </p-fieldset>
          <button [disabled]="disabled" pButton type="button" icon="pi pi-plus" class="p-button-primary col-6" (click)="addVitality()"></button>
        </ng-container>
      </div>
    </ng-template>
    <div formGroupName="campaignTemplate">
      <div formArrayName="vitalities">
        <div *ngFor="let vitality of vitalities.controls; let i=index" style="padding-bottom: 8px;">
          <div [formGroup]="vitality">
            <div class="p-inputgroup">
              <input type="text" pInputText placeholder="Name" formControlName="name" required (blur)="updateVitality(vitality)">
              <p-inputgroup-addon *ngIf="!disabled">
                <button (click)="removeVitality(vitality, i)" pButton type="button" icon="pi pi-minus"></button>
              </p-inputgroup-addon>
            </div>
            <rr-formula-builder
              class="block mt-2"
              [ngModel]="vitality.get('formulaTokens')?.value"
              (ngModelChange)="onVitalityFormulaTokensChanged(vitality, $event)"
              [ngModelOptions]="{standalone: true}"
              [campaign]="campaign"
              [disabled]="disabled"
              (expressionChange)="onVitalityFormulaExpressionChanged(vitality, $event)">
            </rr-formula-builder>
          </div>
        </div>
      </div>
    </div>
  </p-panel>

</form>
