<form [formGroup]="form">
    <rr-inventory-armor-select (armorSelected)="armorSelected($event)"></rr-inventory-armor-select>
  <div class="p-grid p-nogutter p-justify-between">
    <rr-inventory-weapon-select class="p-col-8" (weaponSelected)="mainWeaponSelected($event)"></rr-inventory-weapon-select>
    <input pInputText readonly class="p-col-4" [value]="mainWeaponGripType"/>
  </div>
  <div class="p-grid p-nogutter p-justify-between">
    <rr-inventory-weapon-select (weaponSelected)="offWeaponSelected($event)" weaponFormName="offWeapon" placeholder="Off hand"></rr-inventory-weapon-select>
    <input pInputText readonly class="p-col-4" [value]="offWeaponGripType"/>
  </div>

    <rr-inventory-gloves-select (gloveSelected)="glovesSelected($event)"></rr-inventory-gloves-select>
    <rr-inventory-belt-select (beltSelected)="beltSelected($event)"></rr-inventory-belt-select>
    <rr-inventory-headpiece-select (headpieceSelected)="headpieceSelected($event)"></rr-inventory-headpiece-select>
    <rr-inventory-neckaccesory-select (neckAccessorySelected)="neckAccessorySelected($event)"></rr-inventory-neckaccesory-select>
    <rr-inventory-ring-select [ringHand]="ringHand.right" (ringSelected)="ringSelected($event)"></rr-inventory-ring-select>
    <rr-inventory-ring-select [ringHand]="ringHand.left" (ringSelected)="ringSelected($event)"></rr-inventory-ring-select>
</form>
