<div class="modal-container">
  <form style="flex: initial; overflow: auto;" form [formGroup]="form" *ngIf="loaded">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        Name
      </span>
      <input pInputText formControlName="name">
    </div>
    <p-tabView>
      <p-tabPanel header="General">
        <p-panel [toggleable]="true" [collapsed]=false>
          <ng-template #header class="flex justify-between items-center w-full">
            <span class="text-lg font-semibold">Attributes</span>
          </ng-template>
          <div formArrayName="attributes">
            <div *ngFor="let attribute of attributes.controls; let i=index">
              <div [formGroup]="attribute">
                <div class="p-inputgroup">
                  <input type="text" pInputText formControlName="name">
                  <span class="p-inputgroup-addon">
                    <p-inputNumber formControlName="value"></p-inputNumber>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
        <p-panel [toggleable]="true">
          <ng-template #header class="flex justify-between items-center w-full">
            <span class="text-lg font-semibold">Skills</span>
          </ng-template>
          <div formArrayName="skills">
            <div *ngFor="let skill of skills.controls; let skillIndex=index">
              <div form [formGroup]="skill">
                <p-panel [toggleable]="true" [collapsed]="false" expandIcon="pi pi-chevron-down" collapseIcon="pi pi-chevron-up">
                  <ng-template #header>
                    <div class="flex justify-between items-center w-full">
                      <div class="flex gap-2 w-1/3">
                        <input type="text" pInputText placeholder="Name" formControlName="name" required>
                      </div>
                      <div class="flex items-center gap-2 w-1/3">
                        <span>Remaining Points </span>
                        <input type="text" pInputText formControlName="remainingPoints" required>
                      </div>
                    </div>
                  </ng-template>
                  <div class="flex justify-between gap-2">
                    <div class="flex-1" form [formGroup]="skill">
                      <div *ngFor="let specificSkill of minorsSkillBySkill.get(skill.get('id').value).controls; let specificSkillIndex=index">
                        <div form [formGroup]="specificSkill">
                          <div class="p-inputgroup">
                            <input type="text" pInputText placeholder="Name" formControlName="name" required>
                            <span class="p-inputgroup-addon">
                              <input class="p-inputtext p-component" formControlName="points" type="number" placeholder="Value" (blur)="print()">
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-panel>
              </div>
            </div>
          </div>
        </p-panel>
        <p-panel [toggleable]="true">
          <ng-template #header>
            <div class="flex justify-between items-center w-full">
              <span class="text-lg font-semibold">Vitalities</span>
            </div>
          </ng-template>
          <div formArrayName="vitalities">
            <div *ngFor="let vitality of vitalities.controls; let i=index" class="pb-2">
              <div [formGroup]="vitality">
                <div class="p-inputgroup">
                  <input type="text" pInputText placeholder="Name" formControlName="name">
                  <div class="p-inputgroup-addon p-input-filled vitality-value">
                    <input type="text" pInputText placeholder="Value" formControlName="value">
                  </div>
                  <div class="p-inputgroup-addon vitality-max-value" pTooltip="Max Value">
                    <input type="text" pInputText placeholder="Max" formControlName="maxValue">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
        <p-panel [toggleable]="true">
          <ng-template #header class="flex justify-between items-center w-full">
            <span class="text-lg font-semibold">Defenses</span>
          </ng-template>
          <div formArrayName="defenses">
            <div *ngFor="let defense of defenses.controls; let i=index" class="pb-2">
              <div [formGroup]="defense">
                <div class="p-inputgroup">
                  <input type="text" pInputText placeholder="Name" formControlName="name">
                  <div class="p-inputgroup-addon">
                    <input type="text" pInputText placeholder="Value" formControlName="value">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-panel>
      </p-tabPanel>
      <p-tabPanel header="Inventory">
        <rr-creature-inventory [form]="form" [creature]="creature"></rr-creature-inventory>
      </p-tabPanel>
    </p-tabView>
  </form>
  <button class="p-button p-component" style="display: flex; flex: initial" (click)="save()" [disabled]="!canSave()">Save</button>
</div>
<p-message></p-message>
