
<p-overlayPanel #monsterOverlay>
  <ng-container *ngIf="monster">
    <p-panel [header]="monster.name">
      <div>Race: {{monster.race?.name}}</div>
      <div>Role: {{monster.role?.name}}</div>
      <div>Strength: {{monster.totalAttributes.strength}}</div>
      <div>Agility: {{monster.totalAttributes.agility}}</div>
      <div>Vitality: {{monster.totalAttributes.vitality}}</div>
      <div>Wisdom: {{monster.totalAttributes.wisdom}}</div>
      <div>Intuition: {{monster.totalAttributes.intuition}}</div>
      <div>Charisma: {{monster.totalAttributes.charisma}}</div>
      <div>Life: {{monster.currentLife}}</div>
      <div>Moral: {{monster.currentMoral}}</div>
    </p-panel>
  </ng-container>
</p-overlayPanel>
<div class="ui-inputgroup">
  <span class="ui-inputgroup-addon" style="max-height: 33px; cursor: pointer" (click)="monster ? monsterOverlay.show($event) : null"><i class="pi pi-user" ></i></span>
  <p-autoComplete  [(ngModel)]="monster" field="name" (completeMethod)="search($event.query)" placeholder="Hero" [dropdown]="true" (onSelect)="selected($event)" [suggestions]="result"  [forceSelection]="true"></p-autoComplete>
</div>

