<div class="p-grid p-justify-start p-align-center">
  <i class="fas fa-dice-d20 clickable" (click)="openDetailedRoll('strength')" (contextmenu)="roll('strength')"></i>
  <div class="p-col">Strength: {{creature.totalAttributes.strength}}</div>
</div>
<div class="p-grid p-justify-start p-align-center">
  <i class="fas fa-dice-d20 clickable" (click)="openDetailedRoll('agility')" (contextmenu)="roll('agility')"></i>
  <div class="p-col">Agility: {{creature.totalAttributes.agility}}</div>
</div>
<div class="p-grid p-justify-start p-align-center">
  <i class="fas fa-dice-d20 clickable" (click)="openDetailedRoll('vitality')" (contextmenu)="roll('vitality')"></i>
  <div class="p-col">Vitality: {{creature.totalAttributes.vitality}}</div>
</div>
<div class="p-grid p-justify-start p-align-center">
  <i class="fas fa-dice-d20 clickable" (click)="openDetailedRoll('wisdom')" (contextmenu)="roll('wisdom')"></i>
  <div class="p-col">Wisdom: {{creature.totalAttributes.wisdom}}</div>
</div>
<div class="p-grid p-justify-start p-align-center">
  <i class="fas fa-dice-d20 clickable" (click)="openDetailedRoll('intuition')" (contextmenu)="roll('intuition')"></i>
  <div class="p-col">Intuition: {{creature.totalAttributes.intuition}}</div>
</div>
<div class="p-grid p-justify-start p-align-center">
  <i class="fas fa-dice-d20 clickable" (click)="openDetailedRoll('charisma')" (contextmenu)="roll('charisma')"></i>
  <div class="p-col">Charisma: {{creature.totalAttributes.charisma}}</div>
</div>
