<form [formGroup]="form">
    <loh-inventory-armor-select (armorSelected)="armorSelected($event)"></loh-inventory-armor-select>
    <loh-inventory-weapon-select (weaponSelected)="mainWeaponSelected($event)"></loh-inventory-weapon-select>
    <loh-inventory-gloves-select (gloveSelected)="glovesSelected($event)"></loh-inventory-gloves-select>
    <loh-inventory-belt-select (beltSelected)="beltSelected($event)"></loh-inventory-belt-select>
    <loh-inventory-headpiece-select (headpieceSelected)="headpieceSelected($event)"></loh-inventory-headpiece-select>
    <loh-inventory-neckaccesory-select (neckAccessorySelected)="neckAccessorySelected($event)"></loh-inventory-neckaccesory-select>
    <loh-inventory-ring-select [ringHand]="ringHand.right" (ringSelected)="ringSelected($event)"></loh-inventory-ring-select>
    <loh-inventory-ring-select [ringHand]="ringHand.left" (ringSelected)="ringSelected($event)"></loh-inventory-ring-select>
</form>
