<p-tieredMenu #effectMenu [model]="effectOptions" appendTo="body" [popup]="true" ></p-tieredMenu>

<form [formGroup]="form">
  <ng-container *ngIf="action === MasterToolAction.Status">
  <div class="p-inputgroup" #teste>
    <ng-container *ngFor="let effect of creature.effects">
      <span class="p-inputgroup-addon small" style="cursor: pointer"  (click)="effectClicked($event, effectMenu, effect)" >
        <loh-effect-icon  [effect]="effect"></loh-effect-icon>
      </span>
    </ng-container>
  </div>
  <div>
    <span>Life: </span>
    <input pInputText type="number" formControlName="life" placeholder="Life">
    <button pButton (click)="updateLife()" label="Apply"></button>
    <button pButton (click)="updateFullLife()" label="Max"></button>
  </div>
  <div>
    <span>Moral: </span>
    <input pInputText type="number" formControlName="moral" placeholder="Moral">
    <button pButton (click)="updateMoral()" label="Apply"></button>
    <button pButton (click)="updateFullMoral()" label="Max"></button>
  </div>
  <div>
    <span>Heal: </span>
    <input pInputText type="number" formControlName="healing" placeholder="Heal">
    <button pButton (click)="heal()" label="Heal"></button>
    <button pButton (click)="fullyHeal()" label="Max"></button>
  </div>
  </ng-container>
  <ng-container *ngIf="action === MasterToolAction.TakeDamage">
    <p-chips formControlName="physicalDamages" placeholder="Physical"></p-chips>
    <p-chips formControlName="arcaneDamages" placeholder="Arcane"></p-chips>
    <p-chips formControlName="fireDamages" placeholder="Fire"></p-chips>
    <p-chips formControlName="iceDamages" placeholder="Ice"></p-chips>
    <p-chips formControlName="lightningDamages" placeholder="Lightning"></p-chips>
    <p-chips formControlName="poisonDamages" placeholder="Poison"></p-chips>
    <p-chips formControlName="holyDamages" placeholder="Holy"></p-chips>
    <p-chips formControlName="necroticDamages" placeholder="Necrotic"></p-chips>
    <p-chips formControlName="sonicDamages" placeholder="Sonic"></p-chips>
      <button pButton label="Apply Damage" (click)="takeDamage()"></button>
    </ng-container>
    <ng-container *ngIf="action === MasterToolAction.Bonus">
      <loh-bonus-tool [creature]="creature" [combat]="combat"></loh-bonus-tool>
    </ng-container>
</form>
<ng-container *ngIf="action === MasterToolAction.Inventory">
  <loh-inventory-master-tool style="width: 100%;" [creature]="creature" [combat]="combat"></loh-inventory-master-tool>
</ng-container>


