<p-fieldset legend="Funds">
  <div class="p-inputgroup">
    <input type="text" readonly pInputText placeholder="Gold">
    <p-inputGroupAddon style="background-color: oldlace; color: black; font-weight: bold" pTooltip="total">{{cash1}}</span>
  </div>
  <div class="p-inputgroup">
    <input type="text" readonly pInputText placeholder="Silver">
    <p-inputGroupAddon style="background-color: oldlace; color: black; font-weight: bold" pTooltip="total">{{cash2}}</span>
  </div>
  <div class="p-inputgroup">
    <input type="text" readonly pInputText placeholder="Copper">
    <p-inputGroupAddon style="background-color: oldlace; color: black; font-weight: bold" pTooltip="total">{{cash3}}</span>
  </div>
</p-fieldset>
