.player-color-1 {
  background-color: #f3e8ee;
}
.player-color-2 {
  background-color: #bacdb0;
}
.player-color-3 {
  background-color: #729b79;
}
.player-color-4 {
  background-color: #475b63;
}
.player-color-5 {
  background-color: #2e2c2f;
}

.main-color-1 {
  background-color: #f2dda4;
}
.main-color-2 {
  background-color: #e7efc5;
}
.main-color-3 {
  background-color: #bfd7b5;
}
.main-color-4 {
  background-color: #a3c4bc;
}
.main-color-5 {
  background-color: #1A0E29;
}

