


$playerColor1: #f3e8ee;
$playerColor2: #bacdb0;
$playerColor3: #729b79;
$playerColor4: #475b63;
$playerColor5: #2e2c2f;
.player-color-1 {
  background-color: $playerColor1;
}
.player-color-2 {
  background-color: $playerColor2;
}
.player-color-3 {
  background-color: $playerColor3;
}
.player-color-4 {
  background-color: $playerColor4;
}
.player-color-5 {
  background-color: $playerColor5;
}

.player-1-colored-border {
  border: 2px solid $playerColor1;
}

$mainColor1: #f2dda4;
$mainColor2: #e7efc5;
$mainColor3: #bfd7b5;
$mainColor4: #a3c4bc;
$mainColor5: #1A0E29;

.main-color-1 {
  background-color: #f2dda4;
}
.main-color-2 {
  background-color: #e7efc5;
}
.main-color-3 {
  background-color: #bfd7b5;
}
.main-color-4 {
  background-color: #a3c4bc;
}
.main-color-5 {
  background-color: #1A0E29;
}


$monsterColor1: #ffe3e0;
$monsterColor2: #fbc3bc;
$monsterColor3: #f7a399;
$monsterColor4: #f38375;
$monsterColor5: #ef6351;

.monster-color-1 {
  background-color: $monsterColor1;
}
.monster-color-2 {
  background-color: $monsterColor2;
}
.monster-color-3 {
  background-color: $monsterColor3;
}
.monster-color-4 {
  background-color: $monsterColor4;
}
.monster-color-5 {
  background-color: $monsterColor5;
}

$itemColor1: #bee9e8;
$itemColor2: #cae9ff;
$itemColor3: #62b6cb;
$itemColor4: #5fa8d3;
$itemColor5: #1b4965;

.item-color-1 {
  background-color: $itemColor1;
}
.item-color-2 {
  background-color: $itemColor2;
}
.item-color-3 {
  background-color: $itemColor3;
}
.item-color-4 {
  background-color: $itemColor4;
}
.item-color-5 {
  background-color: $itemColor5;
}


$powerColor1: #e0b1cb;
$powerColor2: #be95c4;
$powerColor3: #9f86c0;
$powerColor4: #5e548e;
$powerColor5: #231942;

.power-color-1 {
  background-color: $powerColor1;
}
.power-color-2 {
  background-color: $powerColor2;
}
.power-color-3 {
  background-color: $powerColor3;
}
.power-color-4 {
  background-color: $powerColor4;
}
.power-color-5 {
  background-color: $powerColor5;
}

$primaryColor: #30596c;
$secondaryColor: #f4f4f4;
$successColor: #729b79;
$infoColor: #62b6cb;
$warningColor: #f4d06f;
$dangerColor: #ef6351;
$borderColor: #c8c8c8;

.success-color {
  background-color: $successColor;
}
.success-label-color {
  color: $successColor;
}
.info-color {
  background-color: $infoColor;
}
.info-label-color {
  color: $infoColor;
}
.danger-color {
  background-color: $dangerColor;
}
.danger-label-color {
  color: $dangerColor;
}


// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=72R0W0k2ljc6hnI3vhb50fr6wdx */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #6E776F;	// Main Primary color */
$color-primary-1: #769379;
$color-primary-2: #5F6A60;
$color-primary-3: #505F52;
$color-primary-4: #435445;

$color-secondary-1-0: #606266;	// Main Secondary color (1) */
$color-secondary-1-1: #686F7F;
$color-secondary-1-2: #53555C;
$color-secondary-1-3: #474A52;
$color-secondary-1-4: #3B3F48;

$color-secondary-2-0: #99958E;	// Main Secondary color (2) */
$color-secondary-2-1: #BDB198;
$color-secondary-2-2: #89847A;
$color-secondary-2-3: #7B7568;
$color-secondary-2-4: #6C6456;

$color-complement-0: #998E8E;	// Main Complement color */
$color-complement-1: #BD9A98;
$color-complement-2: #897B7A;
$color-complement-3: #7B6968;
$color-complement-4: #6C5756;



// As RGBa codes */

$rgba-primary-0: rgba(110,119,111,1);	// Main Primary color */
$rgba-primary-1: rgba(118,147,121,1);
$rgba-primary-2: rgba( 95,106, 96,1);
$rgba-primary-3: rgba( 80, 95, 82,1);
$rgba-primary-4: rgba( 67, 84, 69,1);

$rgba-secondary-1-0: rgba( 96, 98,102,1);	// Main Secondary color (1) */
$rgba-secondary-1-1: rgba(104,111,127,1);
$rgba-secondary-1-2: rgba( 83, 85, 92,1);
$rgba-secondary-1-3: rgba( 71, 74, 82,1);
$rgba-secondary-1-4: rgba( 59, 63, 72,1);

$rgba-secondary-2-0: rgba(153,149,142,1);	// Main Secondary color (2) */
$rgba-secondary-2-1: rgba(189,177,152,1);
$rgba-secondary-2-2: rgba(137,132,122,1);
$rgba-secondary-2-3: rgba(123,117,104,1);
$rgba-secondary-2-4: rgba(108,100, 86,1);

$rgba-complement-0: rgba(153,142,142,1);	// Main Complement color */
$rgba-complement-1: rgba(189,154,152,1);
$rgba-complement-2: rgba(137,123,122,1);
$rgba-complement-3: rgba(123,105,104,1);
$rgba-complement-4: rgba(108, 87, 86,1);



// Generated by Paletton.com © 2002-2014 */
// http://paletton.com */
