@import "colors";


.ui-dialog-titlebar {
  background-color: $mainColor3 !important;
}
.ui-button {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}
.ui-dialog-content {
  display: flex !important;
  flex: 100 !important;
  overflow: unset !important;
}
.ui-button-secondary {
  background-color: $secondaryColor !important;
  border-color: $borderColor !important;
}
.ui-button-success {
  background-color: $successColor !important;
  border-color: $successColor !important;
}
.ui-button-info {
  background-color: $infoColor !important;
  border-color: $infoColor !important;
}
.ui-button-warning {
  background-color: $warningColor !important;
  border-color: $warningColor !important;
}
.ui-button-danger {
  background-color: $dangerColor !important;
  border-color: $dangerColor !important;
}
.ui-panel-titlebar {
  background-color: $mainColor3 !important;
}
.ui-state-active {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}
.ui-picklist .ui-picklist-caption {
  background-color: $mainColor3 !important;
}

#Table
.ui-table .ui-table-tbody > tr > td {
  padding: 0 0 0 4px !important;
}
.ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: $primaryColor !important;
  outline: none;
  box-shadow: none;
}

.ui-table .ui-table-tbody > tr:focus {
  outline: none;
  box-shadow: none;
}
.ui-table .ui-table-tbody > tr:focus > td {
  box-shadow: none !important;
  outline: none;
}

.ui-table .ui-table-tbody > tr:focus > td:last-child {
  box-shadow: none;
  outline: none;
}
