@import "colors";

$defaultPrimeNgSize: 24px;
:root {
  --primary-color: $primaryColor;
}

.p-autocomplete-dd .p-autocomplete-input {
  max-height: $defaultPrimeNgSize;
}
#Buttons
.p-selectbutton .p-button.p-highlight {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  color: $secondaryColor !important;
}

.p-dialog-titlebar {
  background-color: $mainColor3 !important;
}
.p-panel {
  width: 100%;
  height: 100%;
}
.p-panel .p-panel-content {
  padding: 4px;
}
.p-panel .p-panel-header {
  padding: 4px;
}
.p-panel.p-panel-toggleable .p-panel-header {
  padding: 4px;
}
.p-panel-content-wrapper {
  width: 100%;
  height: 100%;
}
.p-panel-content p-widget-content {
  width: 100%;
  height: 100%;
}
.p-panel {
  input:disabled {
    color: aqua
  }
}
.p-button {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}
.p-button.p-button-icon-only {
  height: $defaultPrimeNgSize;
  width: $defaultPrimeNgSize;
}
.p-selectbutton .p-button {
  color: $infoColor !important;
}
.p-selectbutton .p-button.p-state-active {
  color: $secondaryColor !important;
}

#Inputs
.p-inputgroup-addon {
  height: $defaultPrimeNgSize !important;
  width: $defaultPrimeNgSize !important;
  min-width: $defaultPrimeNgSize !important;
  max-width: $defaultPrimeNgSize !important;
  min-height: $defaultPrimeNgSize !important;
  max-height: $defaultPrimeNgSize !important;
}
.p-dialog {
  max-height: 100%;
}
.p-dialog-content {
  display: flex !important;
  flex: 100 !important;
  overflow: scroll !important;
}
.p-button.p-button-secondary {
  background-color: $secondaryColor !important;
  border-color: $borderColor !important;
  color: $primaryColor;
}
.p-button-success {
  background-color: $successColor !important;
  border-color: $successColor !important;
}
.p-button-info {
  background-color: $infoColor !important;
  border-color: $infoColor !important;
}
.p-button-warning {
  background-color: $warningColor !important;
  border-color: $warningColor !important;
}
.p-button-danger {
  background-color: $dangerColor !important;
  border-color: $dangerColor !important;
}
.p-panel-titlebar {
  background-color: $mainColor3 !important;
}
.p-state-active {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}
.p-picklist .p-picklist-caption {
  background-color: $mainColor3 !important;
}

#FieldSet
.p-fieldset-content {
  padding: unset !important;
}
.p-fieldset .p-fieldset-content {
  padding: unset !important;
}
#Table
.p-table .p-table-tbody > tr > td {
  padding: 0 0 0 4px !important;
}
.p-table .p-table-tbody > tr.p-state-highlight {
  background-color: $primaryColor !important;
  outline: none;
  box-shadow: none;
}

.p-table .p-table-tbody > tr:focus {
  outline: none;
  box-shadow: none;
}
.p-table .p-table-tbody > tr:focus > td {
  box-shadow: none !important;
  outline: none;
}

.p-table .p-table-tbody > tr:focus > td:last-child {
  box-shadow: none;
  outline: none;
}
.p-toolbar {
  padding: 4px;
}
#Tabs
.ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-tabview-selected a {
  background-color: red;
}
.p-tabview-selected {
  color: #1A0E29;
}
$tabviewHeaderActiveBg: $primaryColor;
html {
  font-size: 16px;
}
