<p-panel>
    <ng-template pTemplate="header">
      <div class="p-grid p-justify-between p-align-center p-nogutter" style="flex: 1;">
        <p-dropdown *ngIf="loadMe" class="p-col-6" [(ngModel)]="selectedScene" [options]="scenes" optionLabel="name" (onChange)="selectScene($event.value)"></p-dropdown>
        <p-fieldset class="align-right p-col-6">
          <div class="p-inputgroup" *ngIf="isMaster">
            <input type="text" pInputText placeholder="Add Scene" [(ngModel)]="newSceneName">
            <button class="p-inputgroup-addon" pButton type="button" icon="pi pi-plus" class="p-button-primary p-col-6 p-inputgroup-addon" (click)="newScene()"></button>
          </div>
          <div class="p-inputgroup" *ngIf="isMaster && selectedScene">
            <rr-pocket-creature-select placeholder="Add Hero" [campaign]="campaign" [creatureType]="creatureTypeEnum.Hero" (creatureSelected)="addHero($event)"></rr-pocket-creature-select>
          </div>
        </p-fieldset>
        <button *ngIf="isMaster" pButton label="invite" icon="pi pi-plus" class="p-button-secondary" (click)="invitePlayer($event)" #invitationButton></button>
<!--         <button *ngIf="!isMaster" pButton label="create hero" icon="pi pi-plus" class="p-button-secondary"></button>
 -->        <button *ngIf="!notInvited" pButton label="create hero" icon="pi pi-plus" class="p-button-secondary" (click)="createHero()"></button>
        <!--  <button *ngIf="!isMaster && notInvited" pButton label="create hero" icon="pi pi-plus" class="p-button-secondary"></button> -->
         <button *ngIf="notInvited" pButton label="accept invitation" icon="pi pi-plus" class="p-button-secondary" (click)="openAcceptInvitation()"></button>
      </div>
    </ng-template>
  <div class="p-grid p-justify-between p-align-start">
    <rr-campaign-heroes class="p-col-6"></rr-campaign-heroes>
    <rr-campaign-monsters class="p-col-6"></rr-campaign-monsters>
      <span class="p-col-6"></span>
      <rr-campaign-rolls class="p-col-6"></rr-campaign-rolls>
  </div>
</p-panel>



<p-overlayPanel #invitationCodeOverlay>
  <ng-template pTemplate>
    <div class="p-inputgroup">
      <input type="text" pInputText placeholder="Invitation Code" [value]="invitationCode">
      <button pButton icon="pi pi-copy" [cdkCopyToClipboard]="invitationCode"></button>
    </div>
  </ng-template>
</p-overlayPanel>


<p-dialog header="Insert Invitation Code" [(visible)]="displayInsertInvitationCode">
  <input type="text" pInputText placeholder="Invitation Code" [(ngModel)]="invitationCode">
  <ng-template pTemplate="footer">
    <button pButton label="Send" (click)="acceptInvitation()"></button>
</ng-template>
</p-dialog>

