<ng-container *ngIf="loaded">
  <form [formGroup]="form">
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="armorPropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="armorProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.All]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="basicAttackTargetFirstVitalityTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="basicAttackTargetFirstVitality"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Vitality]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="meleeLightWeaponHitPropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="meleeLightWeaponHitProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="meleeMediumWeaponHitPropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="meleeMediumWeaponHitProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="meleeHeavyWeaponHitPropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="meleeHeavyWeaponHitProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="meleeLightWeaponDamagePropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="meleeLightWeaponDamageProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="meleeMediumWeaponDamagePropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="meleeMediumWeaponDamageProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="meleeHeavyWeaponDamagePropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="meleeHeavyWeaponDamageProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="rangedLightWeaponHitPropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="rangedLightWeaponHitProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="rangedMediumWeaponHitPropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="rangedMediumWeaponHitProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="rangedHeavyWeaponHitPropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="rangedHeavyWeaponHitProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="rangedLightWeaponDamagePropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="rangedLightWeaponDamageProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="rangedMediumWeaponDamagePropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="rangedMediumWeaponDamageProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="rangedHeavyWeaponDamagePropertyTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="rangedHeavyWeaponDamageProperty"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
    <div class="p-inputgroup">
      <input type="text" pInputText class="field-title" formControlName="basicAttackTargetSecondVitalityTitle">
      <p-inputGroupAddon>
        <rr-property-selector class="field-value"
                              formControlName="basicAttackTargetSecondVitality"
                              [campaign]="campaign"
                              [propertyType]="[PropertyType.Vitality]">
        </rr-property-selector>
      </p-inputGroupAddon>
    </div>
  </form>
</ng-container>
