<p-panel [toggleable]="false">
  <ng-template pTemplate="header">
    <div class="flex p-align-center gap-2">
            <span class="font-bold">
               Item
            </span>
    </div>

  </ng-template>
  <ng-template pTemplate="icons">
    <button class="p-panel-header-icon p-link mr-2" (click)="refreshForm()">
      <span class="pi pi-plus"></span>
    </button>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton [label]="'Save'" (click)="save()" [disabled]="!canSave"></button>
  </ng-template>
  <p-tabMenu [model]="itemTypeMenuItens" [(activeItem)]="selectedItemType">
  </p-tabMenu>
  <form [formGroup]="form">
    <div class="flex flex-column gap-2">
      <label for="itemTemplateName">{{form.get('name').value}}</label>
      <input id="itemTemplateName" pInputText formControlName="name" type="text">
    </div>
    <div *ngIf="itemType === itemTypeEnum.Weapon" class="flex flex-column gap-2">
      <label for="weaponSize">Size</label>
      <input id="weaponSize" pInputText formControlName="size" type="text">
    </div>
  </form>
</p-panel>


