<p-panel [toggleable]="false">
  <ng-template pTemplate="header">
    <div class="flex p-align-center gap-2">
            <span class="font-bold">
               Item
            </span>
    </div>
  </ng-template>
  <ng-template pTemplate="icons">
    <div class="flex flex-wrap gap-3">
      <div class="flex align-items-center" *ngFor="let itemTypeOption of itemTypesOptions">
        <p-radioButton
          [name]="itemTypeOption.name"
          [value]="itemTypeOption.value"
          [ngModel]="itemType()"
          (ngModelChange)="itemType.set($event)"
          [label]="itemTypeOption.name"/>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton [label]="'Save'" (click)="save()" [disabled]="!canSave"></button>
  </ng-template>
  <form [formGroup]="form">
    <div class="flex flex-column gap-2">
      <label for="itemTemplateName">Item Name</label>
      <input id="itemTemplateName" [required]="true" pInputText formControlName="name" type="text">
    </div>
    <div *ngIf="itemType() === itemTypeEnum.Weapon" class="flex flex-column gap-2">
      <label for="weaponCategory">Category</label>
      <p-dropdown id="weaponCategory" [required]="true" formControlName="category" [options]="weaponCategories" optionValue="value" optionLabel="key"/>
    </div>
    <div *ngIf="itemType() === itemTypeEnum.Armor" class="flex flex-column gap-2">
      <label for="armorCategory">Category</label>
      <p-dropdown id="armorCategory" [required]="true" formControlName="category" [options]="armorCategories" optionValue="value" optionLabel="key"/>
    </div>
  </form>
</p-panel>


