<rr-cm-editor [service]="service" (saved)="saved($event)" (deleted)="deleted($event)" [entityId]="entity.id" [form]="form"
[action]="action" (loaded)="loaded($event)" [disableSave]="entity.isStatic" [disableDelete]="entity.isStatic">
  <form form [formGroup]="form" *ngIf="!isLoading">
    <input type="text" pInputText placeholder="Name" formControlName="name" autofocus>
    <rr-weapon-category-select [form]="form"></rr-weapon-category-select>
    <rr-attribute-select controlName="hitAttribute"></rr-attribute-select>
    <rr-attribute-select controlName="damageAttribute"></rr-attribute-select>
  </form>
</rr-cm-editor>
