<p-inputgroup *ngIf="slot" class="p-inputgroup">
  <input class="slot" type="text" pInputText  [ngModel]="slot" [disabled]="true">
  <p-inputgroup-addon class="item">
    <input  pInputText ="value" [ngModel]="item.name" [disabled]="true">
  </p-inputgroup-addon>
  <p-inputgroup-addon>
    <p-button *ngIf="!item.name" [ngStyle]="{opacity: 0}" icon="pi pi-times" styleClass="p-button-danger" disabled></p-button>
    <p-button *ngIf="item.name" icon="pi pi-times" styleClass="p-button-danger" pTooltip="Unequip" (click)="unequip(item)"></p-button>
  </p-inputgroup-addon>
</p-inputgroup>
