<div class="flex flex-wrap gap-3">
  <div class="flex align-items-center" *ngFor="let itemTypeOption of itemTypesOptions">
    <p-radioButton
      [name]="itemTypeOption.name"
      [value]="itemTypeOption.value"
      [ngModel]="itemType()"
      (ngModelChange)="itemType.set($event)"
      [label]="itemTypeOption.name"/>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-6">
    <p-table #tt [value]="data" [paginator]="true" selectionMode="single" [rows]="15" [lazyLoadOnInit]="true" [lazy]="true" styleClass="p-datatable-sm"
             (onLazyLoad)="onLazyLoadEvent($event)" (onRowSelect)="rowSelected($event)" [totalRecords]="totalCount" [loading]="loading"
    >
    </p-table>
  </div>]
</div>
