<div style="height: 100%; overflow: unset;">
  <p-toast [baseZIndex]="999999" key="mainToast"></p-toast>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

  <rr-main-header></rr-main-header>

  <nav mat-tab-nav-bar *ngIf="loggedOn === loggedOnEnum.Normal">
    <a mat-tab-link routerLink=''>Party</a>
    <a mat-tab-link routerLink='encounters'>Encounters</a>
    <a mat-tab-link routerLink='campaigns'>Campaigns</a>
    <a mat-tab-link routerLink='heroes'>Heroes</a>
    <a mat-tab-link routerLink='items'>Items</a>
    <a mat-tab-link routerLink='monsters'>Monsters</a>
    <!-- <a mat-tab-link routerLink=''>Models</a> -->
    <a mat-tab-link routerLink='races'>Races</a>
    <a mat-tab-link routerLink='roles'>Roles</a>
    <a mat-tab-link routerLink='powers'>Powers</a>
    <a mat-tab-link routerLink='players'>Players</a>
    <a mat-tab-link routerLink='tests'>Tests</a>

    <a routerLink='rolls'>Make Rolls</a>
  </nav>
  <nav mat-tab-nav-bar *ngIf="loggedOn === loggedOnEnum.Pocket" [tabPanel]="tabPanel">
    <a mat-tab-link routerLink='/pocket/campaigns'>Campaigns</a>
  </nav>
  <br/>
  <mat-tab-nav-panel #tabPanel>
      <router-outlet fxLayout="column"></router-outlet>
  </mat-tab-nav-panel>
</div>

