<p-panel [header]="creature.name">
  <div>Race: {{creature.race?.name}}</div>
  <div>Role: {{creature.role?.name}}</div>
  <div class="p-grid p-justify-between">
    <div class="p-col">Strength: {{creature.totalAttributes.strength}}</div>
    <button pButton icon="fas fa-dice-d20" (click)="roll('strength')"></button>
  </div>
  <div>Agility: {{creature.totalAttributes.agility}}</div>
  <div>Vitality: {{creature.totalAttributes.vitality}}</div>
  <div>Wisdom: {{creature.totalAttributes.wisdom}}</div>
  <div>Intuition: {{creature.totalAttributes.intuition}}</div>
  <div>Charisma: {{creature.totalAttributes.charisma}}</div>
  <div>Life: {{creature.currentLife}}</div>
  <div>Moral: {{creature.currentMoral}}</div>
</p-panel>
