<p-panel>
  <p-header class="p-grid p-nogutter">
    <div clas="p-col-2" style="align-self: center;">
      {{creature.name}}
    </div>
  </p-header>
  <p-selectButton class="p-col-8 p-offset-2" [options]="tabs" [(ngModel)]="activeTab"></p-selectButton>
  <div class="p-grid p-justify-between p-align-center p-nogutter">
    <div class="p-col-6">Race: {{creature.race?.name}}</div>
    <div class="p-col-6">Life: {{creature.currentLife}}</div>
    <div class="p-col-6">Role: {{creature.role?.name}}</div>
    <div class="p-col-6">Moral: {{creature.currentMoral}}</div>
  </div>
  <ng-container [ngSwitch]="activeTab">
    <ng-container *ngSwitchCase="'attributes'">
      <rr-creature-attribute-details [creature]="creature"></rr-creature-attribute-details>
    </ng-container>
    <ng-container *ngSwitchCase="'equipment'">
      <rr-creature-equipment-details [creature]="creature"></rr-creature-equipment-details>
    </ng-container>
    <ng-container *ngSwitchCase="'inventory'">
      <rr-creature-inventory-details [creature]="creature" [isMaster]="isMaster" [campaign]="campaign"></rr-creature-inventory-details>
    </ng-container>
  </ng-container>


</p-panel>

