<p-toolbar class="mb-3">
  <div class="p-toolbar-group-left">
    <h3 class="text-lg font-semibold m-0">Bonus</h3>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton label="Add Bonus" icon="pi pi-plus" (click)="addEmptyBonus()"></button>
  </div>
</p-toolbar>
<div class="table-container">
<p-table #dt [value]="bonusesSignal()" editableTable dataKey="id" editMode="row" (onEditInit)="onEditInit($event.data)" (onEditCancel)="onEditCancel($event.data)">
  <ng-template pTemplate="header">
    <tr>
      <th pEditableColumn>Name</th>
      <th pEditableColumn>Description</th>
      <th pEditableColumn>Value</th>
      <th pEditableColumn>Value Type</th>
      <th pEditableColumn>Type</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-bonus let-editing="editing">
    <tr>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="bonus.name" />
          </ng-template>
          <ng-template pTemplate="output">{{ bonus.name }}</ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText [(ngModel)]="bonus.description" />
          </ng-template>
          <ng-template pTemplate="output">{{ bonus.description }}</ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="number" pInputText [(ngModel)]="bonus.value" />
          </ng-template>
          <ng-template pTemplate="output">{{ bonus.value }}</ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="valueTypes" [(ngModel)]="bonus.valueType"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">{{ valueTypeLabel(bonus.valueType) }}</ng-template>
        </p-cellEditor>
      </td>
      <td pEditableColumn>
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="bonusTypes" [(ngModel)]="bonus.type"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">{{ bonusTypeLabel(bonus.type) }}</ng-template>
        </p-cellEditor>
      </td>
      <td>
      <td>
     <!-- <div class="flex items-center justify-center gap-2">
        <button
          *ngIf="!editing"
          pButton
          pRipple
          type="button"
          pInitEditableRow
          icon="pi pi-pencil"
          (click)="onRowEditInit(bonus)"
          text
          rounded
          severity="secondary"
        ></button>
        <button
          *ngIf="editing"
          pButton
          pRipple
          type="button"
          pSaveEditableRow
          icon="pi pi-check"
          (click)="onRowEditSave(bonus)"
          text
          rounded
          severity="secondary"
        ></button>
        <button
          *ngIf="editing"
          pButton
          pRipple
          type="button"
          pCancelEditableRow
          icon="pi pi-times"
          (click)="onRowEditCancel(bonus)"
          text
          rounded
          severity="secondary"
        ></button>
      </div>-->
      <button *ngIf="editedRows.has(bonus.id) || editing" pButton icon="pi pi-save" (click)="onEditSave(bonus)"></button>
        <button pButton icon="pi pi-times" aria-label="Delete" (click)="deleteBonus(bonus)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
