
:host ::ng-deep .bonuses-table .p-datatable-tbody > tr > td {
  padding: 4px !important;
}
:host {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura do p-fieldset */
}

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ocupa toda a altura do host */
}

.table-container {
  flex: 1; /* Ocupa o espaço restante */
  overflow: auto; /* Adiciona scroll se necessário */
}

.bonuses-table {
  height: 100%; /* Ocupa toda a altura do contêiner */
}
