
<p-overlayPanel #creatureOverlay>
  <ng-container *ngIf="creature">
    <rr-creature-details [creature]="creature"></rr-creature-details>
  </ng-container>
</p-overlayPanel>

<div style="border: black solid 1px;">

  <div class="p-inputgroup" >
    <p-inputGroupAddon class="x" *ngIf="isCurrentOnInitiative" style="background-color: unset;"><i class="fas fa-caret-right initiative-color"></i></p-inputGroupAddon>
    <p-inputGroupAddon class="x" *ngIf="!isCurrentOnInitiative" style="background-color: unset;"></p-inputGroupAddon>
    <p-inputGroupAddon style="cursor: pointer" (click)="creature ? creatureOverlay.show($event) : null"><i class="pi pi-user" ></i></p-inputGroupAddon>
    <p-autoComplete  [(ngModel)]="creature" field="name" (completeMethod)="search($event.query)" [placeholder]="placeholder" [dropdown]="true" (onSelect)="selected($event)" [suggestions]="result"  [forceSelection]="true"></p-autoComplete>
  </div>
</div>
<div style="width: 24px;"></div>
<div class="p-grid p-nogutter p-jc-start" style="border: black solid 1px;">
  <div class="p-col-2 p-grid p-nogutter p-jc-start" style="margin-top: 0.5rem;">
    <i class="fas fa-diagnoses pr-8 p-col" pTooltip="Moral" style="color: blue"></i>
    <span class="p-col">{{creature.currentMoral}}</span>
  </div>
  <div class="p-col-2 p-grid p-nogutter p-jc-start" style="margin-top: 0.5rem;">
    <i class="fas fa-heart pr-8 p-col" pTooltip="Life" style="color:red"></i>
    <span class="p-col">{{creature.currentLife}}</span>
  </div>
  <div class="p-inputgroup p-col">
    <p-inputGroupAddon class="small" *ngIf="getEffect(effectType.Death)" style="max-height: 33px;" [pTooltip]="'Dead (' + getEffect(effectType.Death)?.level + ')'"><i class="fas fa-skull" style="color: black"></i></p-inputGroupAddon>
    <p-inputGroupAddon class="small" *ngIf="getEffect(effectType.Poison)" style="max-height: 33px;" [pTooltip]="'Poisoned (' + getEffect(effectType.Death)?.level + ')'"><i class="fas fa-skull-crossbones" style="color: darkslateblue"></i></p-inputGroupAddon>
    <p-inputGroupAddon class="small" *ngIf="getEffect(effectType.Burn)" style="max-height: 33px;" [pTooltip]="'Burning (' + getEffect(effectType.Death)?.level + ')'"><i class="fas fa-fire-alt" style="color: darkred"></i></p-inputGroupAddon>
  </div>
</div>

