
<p-overlayPanel #creatureOverlay>
  <ng-container *ngIf="creature">
    <rr-creature-details [creature]="creature"></rr-creature-details>
  </ng-container>
</p-overlayPanel>
<div class="p-inputgroup">
  <span *ngIf="getEffect(effectType.Death)" class="p-inputgroup-addon small" style="max-height: 33px;" [pTooltip]="'Dead (' + getEffect(effectType.Death)?.level + ')'"><i class="fas fa-skull" style="color: black"></i></span>
  <span *ngIf="getEffect(effectType.Poison)" class="p-inputgroup-addon small" style="max-height: 33px;" [pTooltip]="'Poisoned (' + getEffect(effectType.Death)?.level + ')'"><i class="fas fa-skull-crossbones" style="color: darkslateblue"></i></span>
  <span *ngIf="getEffect(effectType.Burn)" class="p-inputgroup-addon small" style="max-height: 33px;" [pTooltip]="'Burning (' + getEffect(effectType.Death)?.level + ')'"><i class="fas fa-fire-alt" style="color: darkred"></i></span>
</div>
<div class="p-inputgroup" >
  <span *ngIf="isCurrentOnInitiative" class="p-inputgroup-addon x" style="max-height: 33px; background-color: unset;"><i class="fas fa-caret-right initiative-color"></i></span>
  <span class="p-inputgroup-addon" style="max-height: 33px; cursor: pointer" (click)="creature ? creatureOverlay.show($event) : null"><i class="pi pi-user" ></i></span>
  <p-autoComplete  [(ngModel)]="creature" field="name" (completeMethod)="search($event.query)" [placeholder]="placeholder" [dropdown]="true" (onSelect)="selected($event)" [suggestions]="result"  [forceSelection]="true"></p-autoComplete>
  <div fxLayour="column">
    <div>
      <i class="fas fa-diagnoses pr-8" pTooltip="Moral" style="color: blue"></i>
      <span>{{creature.currentMoral}}</span>
    </div>
    <div>
      <i class="fas fa-heart pr-8" pTooltip="Life" style="color:red"></i>
      <span>{{creature.currentLife}}</span>
    </div>
  </div>
</div>

