<div>Remaining Points: {{remainingPoints}}</div>
<div *ngFor="let skill of skills.skillsList">
  <div  class="p-grid p-nogutter">
    <div class="p-col-4 creature-border p-grid p-nogutter">
      <div class="p-col-12 p-grid p-nogutter">
        <button class="p-col" (click)="removeSkillPoint(skill)" pButton type="button" icon="pi pi-minus" class="p-button-secondary"></button>
        <div class="p-col">{{skill}}</div>
        <button class="p-col" (click)="addSkillPoint(skill)" pButton type="button" icon="pi pi-plus" class="p-button-secondary"></button>
      </div>
      <div class="p-col p-grid p-nogutter p-justify-center" style="background-color: oldlace;">
        <span class="p-col-4" style="color: black; font-weight: bold; display: contents" pTooltip="total">{{getSkillPoint(skill)}}</span>
      </div>
    </div>
    <div class="p-col-8">
      <div class="p-inputgroup" *ngFor="let sk of getSkill(skill).list">
        <button class="p-inputgroup-addon" (click)="removeMinorSkillPoint(skill, sk)" pButton type="button" icon="pi pi-minus" class="p-button-secondary"></button>
        <input type="text" readonly pInputText [placeholder]="sk">
        <button class="p-inputgroup-addon" (click)="addMinorSkillPoint(skill, sk)" pButton type="button" icon="pi pi-plus" class="p-button-secondary"></button>
        <span class="p-inputgroup-addon" style="background-color: oldlace; color: black; font-weight: bold" pTooltip="total">{{getMinorSkillPoint(skill, sk)}}</span>
        <button class="p-inputgroup-addon" pButton type="button" icon="fas fa-dice-d20" class="p-button-secondary"></button>
      </div>
    </div>
  </div>
</div>
