<rr-cm-editor [service]="service" [action]="action" [form]="form" [entityId]="entityId" (deleted)=deleted()
               (loaded)="loaded($event)">
  <form form [formGroup]="form" *ngIf="!isLoading">
    <p-tabView>
      <p-tabPanel header="General" >
        <div  class="p-grid p-nogutter">
          <p-fieldset class="p-xl-5 p-md-12" legend="Geral">
            <ng-container>
              <input type="text" pInputText placeholder="Name" formControlName="name">
              <rr-race-select [form]="form" (raceSelected)="raceSelected($event)"></rr-race-select>
              <rr-role-select [form]="form" (roleSelected)="roleSelected($event)"></rr-role-select>
              <div class="p-inputgroup">
                <input type="text" readonly pInputText placeholder="level" class="input-centered-placeholder player-color-1">
                <p-inputGroupAddon  pTooltip="level" style="background-color: oldlace; color: black; font-weight: bold">{{level}}</span>
              </div>
              <label>Remaining Points: {{totalAttributesInitialPoints - usedAttributesBasePoints}}</label>
              <div class="p-inputgroup">
                <button (click)="resetAttrs()" pButton pTooltip="reset" type="button" icon="pi pi-times-circle" class="p-button-raised p-button-secondary"></button>
                <input type="text" readonly pInputText placeholder="ATTRIBUTES" class="input-centered-placeholder player-color-1">
                <button *ngIf="!attributeDetailsIsOpened" (click)="attributeDetailsIsOpened = true" pButton type="button" icon="pi pi-angle-double-right" class="p-button-raised p-button-secondary"></button>
                <button *ngIf="attributeDetailsIsOpened" (click)="attributeDetailsIsOpened = false" pButton type="button" icon="pi pi-angle-double-left" class="p-button-raised p-button-secondary"></button>
              </div>

              <div formGroupName="baseAttributes">
                <div class="p-inputgroup" *ngFor="let attr of attributes">
                  <button (click)="removeAttr(attr)" pButton type="button" icon="pi pi-minus" class="p-button-secondary"></button>
                  <input type="text" readonly pInputText [placeholder]="attr" class="input-centered-placeholder player-color-1">
                  <button (click)="addAttr(attr)" pButton type="button" icon="pi pi-plus" class="p-button-secondary"></button>
                  <p-inputGroupAddon style="background-color: oldlace; color: black; font-weight: bold; min-width: 30px" pTooltip="total">{{totalAttribute(attr)}}</span>
                  <ng-container *ngIf="attributeDetailsIsOpened">
                    <p-inputGroupAddon  pTooltip="base points">{{baseAttribute(attr)}}</span>
                    <p-inputGroupAddon style="background-color: azure; min-width: 30px" pTooltip="bonus points">{{bonusPointsAttribute(attr)}}</span>
                    <p-inputGroupAddon style="background-color: lightgreen; min-width: 30px" pTooltip="race bonus">{{raceAttributeBonus(attr)}}</span>
                    <p-inputGroupAddon style="background-color: lightsalmon; min-width: 30px" pTooltip="role bonus">{{roleAttributeBonus(attr)}}</span>
                    <p-inputGroupAddon style="background-color: darkkhaki; min-width: 30px" pTooltip="bonuses"></span>
                  </ng-container>
                  <p-inputGroupAddon style="background-color: azure; min-width: 46px" pTooltip="level">{{attributeLevel(attr)}}</span>
                </div>
              </div>
            </ng-container>
            <ng-container>
              <p-fieldset legend="Skills">
                <rr-creature-skills [creature]="entity"></rr-creature-skills>
              </p-fieldset>
            </ng-container>

          </p-fieldset>
          <div class="p-xl-4 p-md-12">
            <p-fieldset legend="Equipment">
              <rr-equipment [form]="form" [isCreating]="isCreating"></rr-equipment>
            </p-fieldset>
            <rr-creature-stats [status]="entity.status"></rr-creature-stats>
          </div>
          <div class="p-xl-3 p-sm-12">
            <rr-creature-resistances [resistances]="entity.resistances"></rr-creature-resistances>
            <rr-hero-funds [hero]="entity"></rr-hero-funds>
          </div>

        </div>
      </p-tabPanel>
      <p-tabPanel header="Inventory">
        <div class="p-grid p-nogutter p-justify-between p-align-stretch">
          <rr-inventory class="p-col-6" [creatureManagementService]="creatureManagementService"></rr-inventory>
          <rr-shop *ngIf="creatureType === creatureTypeEnum.Hero" class="p-col-6" [hero]="entity"></rr-shop>
          <rr-monster-shop *ngIf="creatureType === creatureTypeEnum.Monster" class="p-col-6"></rr-monster-shop>
        </div>
      </p-tabPanel>
    </p-tabView>
  </form>
</rr-cm-editor>
