<div class="formula-builder surface-border border-round p-3">
  <div *ngIf="tokens.length; else emptyState" class="flex flex-col gap-3">
    <div class="token-row" *ngFor="let token of tokens; let i = index; trackBy: trackByIndex">
      <div class="token-row__type">
        <p-select
          [ngModel]="token.type"
          (ngModelChange)="onTokenTypeChanged(i, $event)"
          [options]="tokenTypeOptions"
          optionLabel="label"
          optionValue="value"
          [disabled]="disabled"
          class="w-full">
        </p-select>
      </div>
      <div class="token-row__value">
        <ng-container [ngSwitch]="token.type">
          <div *ngSwitchCase="FormulaTokenType.Property" class="flex flex-column gap-2 w-full">
            <rr-property-selector
              [campaign]="campaign"
              [propertyType]="[PropertyType.Attribute, PropertyType.Skill, PropertyType.SpecificSkill, PropertyType.Vitality, PropertyType.Defense]"
              placeholder="Selecione a propriedade"
              [disabled]="disabled"
              [(ngModel)]="token.property"
              (ngModelChange)="onTokenEdited()">
            </rr-property-selector>
            <input
              type="text"
              pInputText
              class="w-full"
              placeholder="Complemento (ex: + 2)"
              [disabled]="disabled"
              [(ngModel)]="token.manualValue"
              (blur)="onManualValueBlur()">
          </div>
          <input
            *ngSwitchCase="FormulaTokenType.Manual"
            type="text"
            pInputText
            class="w-full"
            placeholder="Digite o valor"
            [disabled]="disabled"
            [(ngModel)]="token.manualValue"
            (blur)="onManualValueBlur()">
          <div *ngSwitchCase="FormulaTokenType.Creature" class="flex flex-column gap-2 w-full">
            <p-select
              [disabled]="disabled"
              [options]="creatureValueOptions"
              optionLabel="label"
              optionValue="value"
              [(ngModel)]="token.customValue"
              (ngModelChange)="onTokenEdited()"
              class="w-full">
            </p-select>
            <input
              type="text"
              pInputText
              class="w-full"
              placeholder="Complemento (ex: / 2)"
              [disabled]="disabled"
              [(ngModel)]="token.manualValue"
              (blur)="onManualValueBlur()">
          </div>
          <div *ngSwitchCase="FormulaTokenType.Equipment" class="flex flex-column gap-2 w-full">
            <p-select
              [disabled]="disabled"
              [options]="equipmentPropertyOptions"
              optionLabel="label"
              optionValue="key"
              [ngModel]="getEquipmentOptionKey(token)"
              (ngModelChange)="onEquipmentOptionChanged(i, $event)"
              class="w-full">
            </p-select>
            <input
              type="text"
              pInputText
              class="w-full"
              placeholder="Complemento (ex: + 2)"
              [disabled]="disabled"
              [(ngModel)]="token.manualValue"
              (blur)="onManualValueBlur()">
          </div>
        </ng-container>
      </div>
      <div class="token-row__actions flex gap-1">
        <button
          pButton
          type="button"
          icon="pi pi-arrow-up"
          (click)="moveToken(i, -1)"
          [disabled]="disabled || i === 0">
        </button>
        <button
          pButton
          type="button"
          icon="pi pi-arrow-down"
          (click)="moveToken(i, 1)"
          [disabled]="disabled || i === tokens.length - 1">
        </button>
        <button
          pButton
          type="button"
          icon="pi pi-trash"
          class="p-button-danger"
          (click)="removeToken(i)"
          [disabled]="disabled">
        </button>
      </div>
    </div>

    <div class="flex flex-wrap gap-2 border-top-1 surface-border pt-3 align-items-center">
      <button
        pButton
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded"
        (click)="addToken()"
        [disabled]="disabled">
      </button>
    </div>

    <div class="text-sm surface-ground border-round p-2" *ngIf="descriptionPreview">
      <strong class="block mb-1">Descricao:</strong>
      <code class="block" style="word-break: break-word;">{{ descriptionPreview }}</code>
    </div>
  </div>

  <ng-template #emptyState>
    <div class="flex flex-column gap-2">
      <p class="text-sm text-color-secondary m-0">Nenhum passo definido para esta formula.</p>
      <button pButton type="button" label="Adicionar linha" (click)="addToken()" [disabled]="disabled"></button>
    </div>
  </ng-template>
</div>
