<div [hidden]="isLoading" class="mat-elevation-z8 monster-background">
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="filter" (keydown.enter)="updateFilter()">
    </mat-form-field>
    <mat-icon (click)="create()">add</mat-icon>
  </div>
  <div fxLayout="row wrap" *ngIf="displayData.length > 0">
    <mat-card *ngFor="let monster of displayData" class="listCard clickable monster-card" (click)="edit(monster)">
      <mat-card-title >
        {{monster.name}}
      </mat-card-title>
      <mat-card-subtitle>
       Race: {{monster.race.name}}
      </mat-card-subtitle>
      <mat-card-content>
       <!-- Role: {{monster.role.name}} -->
      </mat-card-content>
    </mat-card>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                 [length]="0"
                 [pageSize]="10" showFirstLastButtons (page)="updateDisplayData()"></mat-paginator>
</div>
