<p-panel *ngIf="loaded">
  <ng-template pTemplate="header">
    <div class="p-grid p-justify-between p-align-center p-nogutter flex-1">
      <span class="p-col-6">Monsters</span>
      <rr-pocket-creature-select *ngIf="isMaster" placeholder="Add monster" [campaign]="campaign" [creatureType]="creatureTypeEnum.Monster" (creatureSelected)="addMonster($event)"></rr-pocket-creature-select>
      <button *ngIf="isMaster" pButton class="p-col-6" icon="pi pi-plus" pTooltip="New" (click)="createAndAddMonster()"></button>
    </div>
</ng-template>
  <div *ngFor="let monster of monsters">
    <rr-campaign-creature-row [creature]="monster"></rr-campaign-creature-row>
  </div>
</p-panel>
