<p-panel>
    <p-header class="p-grid p-justify-between p-align-center p-nogutter" style="flex: 1;">
        <span class="p-panel-title p-col-6">Monsters</span>
        <button *ngIf=isMaster pButton type="button" pTooltip="Add Monster" icon="pi pi-plus" class="p-button-primary p-col-6" (click)="createMonster()"></button>
    </p-header>
  <div *ngFor="let monster of monsters">
    <div class="p-inputgroup">
      <button pButton icon="pi pi-minus" *ngIf="isMaster" class="p-inputgroup-addon" (click)="removeMonster(monster)"></button>
      <span class="p-inputgroup-addon">
        {{monster.name}}
      </span>
      <ng-container *ngFor="let life of monster.lifes">
        <span *ngIf="isMaster" class="p-inputgroup-addon">
          {{life.name}} | {{life.value}}
      </span>
    </ng-container>
    <button *ngIf="isMaster" pButton icon="fas fa-dice-d20" class="p-inputgroup-addon"
     (click)="selectMonsterForRoll(monster); rollPanel.toggle($event)"></button>
    </div>
  </div>
</p-panel>



<p-overlayPanel #rollPanel>
  <ng-template pTemplate>
    <p-tieredMenu [model]="rollOptions"></p-tieredMenu>
  </ng-template>
</p-overlayPanel>


<p-sidebar [(visible)]="displayRollSidebar" position="right" >
  <rr-roll-dice [campaign]="campaign" [scene]="scene"></rr-roll-dice>
</p-sidebar>
