<loh-editor-modal class="monster">
  <div modal-title *ngIf="!entityIsLoading">
    <h1>{{form.get('name').value}}</h1>
  </div>
  <div modal-header>

  </div>
  <form [formGroup]="form" *ngIf="!isLoading" modal-content>
    <div class="general_information" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field fxFlex="50">
        <input matInput placeholder="Level" formControlName="level">
      </mat-form-field>
      <mat-form-field fxFlex="33">
        <input readonly matInput placeholder="Base" [value]="form.get('monsterBase').value.name" (click)="selectMonsterBase()">
      </mat-form-field>
      <mat-form-field fxFlex="33">
        <input readonly matInput placeholder="Race" [value]="form.get('race').value.name" (click)="selectRace()">
      </mat-form-field>
      <mat-form-field fxFlex="33">
        <input readonly matInput placeholder="Role" [value]="form.get('role').value.name" (click)="selectRole()">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field fxFlex="33">
        <input readonly matInput placeholder="Life" [value]="maxLife">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="stretch center">
      <h2 fxFlex="50">Attributes</h2>
      <div  fxFlex="50">
        <h3> Points: ({{form.get("totalAttributesBonusPoints").value - totalUsedAttributesPoints}})</h3>
      </div>
    </div>
    <div class="attributes" fxLayout="row wrap" fxLayoutAlign="space-between center" formGroupName="attributes">
      <div fxFlex="100" fxFlex.gt-sm="50"  *ngFor="let attr of attributes" class="pr-12" fxLayout="row">
          <mat-form-field fxFlex="auto">
              <input matInput placeholder="{{attr}}" [value]="getAttributeValueForView(attr)" readonly>
          </mat-form-field>
          <button mat-icon-button (click)="addAttributePoint(attr)" [disabled]="attributeButtonIsDisabled(attr)" ><mat-icon>add</mat-icon></button>
          <button mat-icon-button (click)="removeAttributePoint(attr)" [disabled]="form.get('attributes.'+ attr + 'BonusPoints').value <= 0"><mat-icon>remove</mat-icon></button>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="stretch center">
        <h2 fxFlex="50">Skills</h2>
        <div  fxFlex="50" *ngIf=false>
          <h3> Points: ({{form.get("totalSkillsBonusPoints").value - totalUsedSkillsPoints}})</h3>
        </div>
      </div>
    <div class="skills" fxLayout="row wrap" fxLayoutAlign="space-between center" formGroupName="skills">
      <div fxFlex="50" fxFlex.gt-sm="25" *ngFor="let sk of skills" class="pr-12">
      <mat-form-field fxFlex="auto">
          <input matInput placeholder="{{sk}}" [(value)]="form.get('skills.' + sk).value + form.get('skills.' + sk + 'BonusPoints').value" readonly>
      </mat-form-field>
      <button mat-icon-button (click)="addSkillsPoint(sk)" [disabled]="skillButtonIsDisabled(sk)" *ngIf=false><mat-icon>add</mat-icon></button>
      <button mat-icon-button (click)="removeSkillsPoint(sk)" [disabled]="form.get('skills.'+ sk + 'BonusPoints').value <= 0" *ngIf=false><mat-icon>remove</mat-icon></button>
     </div>
    </div>
    <div class="actions" modal-footer>
      <button type="button" (click)="save()">Save</button>
      <button type="button" (click)="delete()">Delete</button>
    </div>
  </form>
</loh-editor-modal>
